@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #9d700c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c;
  background-color: #f4c868;
  border-color: #f4c868;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5;
  border-color: #f5aeb5;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #ed6a77;
  border-color: #ed6a77;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0;
  border-color: #69b9d0;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #3898b4;
  border-color: #3898b4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d;
  border-color: #98e38d;
  color: #1f5b16;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16;
  background-color: #61d450;
  border-color: #61d450;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffbc00;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #f9e2af;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #f9e2af;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #f9e2af;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qGaX6efjYB .nav-item:focus,
.cid-qGaX6efjYB .nav-link:focus {
  outline: none;
}
.cid-qGaX6efjYB .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qGaX6efjYB .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qGaX6efjYB .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qGaX6efjYB .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qGaX6efjYB .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qGaX6efjYB .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-qGaX6efjYB .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qGaX6efjYB .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-qGaX6efjYB .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qGaX6efjYB .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qGaX6efjYB .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qGaX6efjYB .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qGaX6efjYB .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qGaX6efjYB .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qGaX6efjYB .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qGaX6efjYB .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qGaX6efjYB .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qGaX6efjYB .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qGaX6efjYB .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qGaX6efjYB .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qGaX6efjYB .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qGaX6efjYB .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qGaX6efjYB .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qGaX6efjYB .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qGaX6efjYB .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-qGaX6efjYB .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qGaX6efjYB .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qGaX6efjYB .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qGaX6efjYB .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qGaX6efjYB .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qGaX6efjYB .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qGaX6efjYB .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qGaX6efjYB .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qGaX6efjYB .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qGaX6efjYB .dropdown-item.active,
.cid-qGaX6efjYB .dropdown-item:active {
  background-color: transparent;
}
.cid-qGaX6efjYB .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qGaX6efjYB .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qGaX6efjYB .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qGaX6efjYB .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qGaX6efjYB .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qGaX6efjYB .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qGaX6efjYB ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qGaX6efjYB .navbar-buttons {
  text-align: center;
}
.cid-qGaX6efjYB button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qGaX6efjYB button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qGaX6efjYB button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qGaX6efjYB button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qGaX6efjYB button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qGaX6efjYB button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qGaX6efjYB nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qGaX6efjYB nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qGaX6efjYB nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qGaX6efjYB nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qGaX6efjYB .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qGaX6efjYB a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qGaX6efjYB .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qGaX6efjYB .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qGaX6efjYB .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-qGaX6efjYB .nav-link:hover,
.cid-qGaX6efjYB .dropdown-item:hover,
.cid-qGaX6efjYB .icons-menu .mbr-iconfont:hover {
  color: #cccccc !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qGaX6efjYB .navbar {
    height: 77px;
  }
  .cid-qGaX6efjYB .navbar.opened {
    height: auto;
  }
}
.cid-qGaXaEnQlu {
  background-image: url("../../../assets/images/decormartins1-1024x450.jpg");
}
.cid-qGaXaEnQlu .mbr-overlay {
  background: #232323;
}
.cid-qGaXaEnQlu .mbr-section-title {
  letter-spacing: .5rem;
}
.cid-qGaYz5NMTc {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qGaYz5NMTc .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  writing-mode: vertical-rl;
}
.cid-qGaYz5NMTc .text-block {
  position: relative;
  z-index: 0;
}
.cid-qGaYz5NMTc .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-qGaYz5NMTc .box {
  left: 20%;
}
.cid-qGaYz5NMTc .text-box {
  left: 0;
  transform: rotate(180deg);
}
.cid-qGaYz5NMTc .mbr-section-text,
.cid-qGaYz5NMTc .mbr-section-title {
  margin-left: 31%;
  margin-left: 0;
}
@media (max-width: 991px) {
  .cid-qGaYz5NMTc .text-box {
    display: none;
  }
  .cid-qGaYz5NMTc .mbr-section-title,
  .cid-qGaYz5NMTc .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-qGaYz5NMTc .box {
    display: none;
  }
  .cid-qGaYz5NMTc .row {
    flex-direction: column-reverse;
  }
  .cid-qGaYz5NMTc .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qGaYz5NMTc .text-box {
    writing-mode: bt-rl;
  }
}
.cid-qGaZD0wyJe {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qGaZD0wyJe .mbr-text {
  color: #444444;
}
.cid-qGaZD0wyJe .card-title {
  color: #f9e2af;
}
.cid-qGaZD0wyJe .card .card-img span {
  color: #000000;
  font-size: 60px;
}
@media (max-width: 767px) {
  .cid-qGaZD0wyJe .card {
    padding-bottom: 2rem !important;
  }
}
.cid-qGaZFWJdNm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qGaZFWJdNm .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qGaZFWJdNm .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qGaZFWJdNm .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qGaZFWJdNm .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qGaZFWJdNm .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background: linear-gradient(180deg, #ffffff, #f9e2af);
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qGaZFWJdNm .icon-focus {
  display: none;
}
.cid-qGaZFWJdNm .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-qGaZFWJdNm ul {
  font-size: 0;
}
.cid-qGaZFWJdNm .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-qGaZFWJdNm .mbr-gallery-filter ul li .btn.active {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-qGaZFWJdNm .mbr-gallery-filter ul li .btn.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #f9e2af, #f5aeb5);
}
.cid-qGaZFWJdNm .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-qGaZFWJdNm .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-qGaZFWJdNm .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-qGaZFWJdNm .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-qGaZFWJdNm .btn:hover {
  background: transparent !important;
}
.cid-qGaZFWJdNm .btn:hover:before {
  background: transparent !important;
}
.cid-qGaZFWJdNm .btn:before {
  background-color: transparent !important;
}
.cid-qGaZFWJdNm .btn:focus {
  box-shadow: none;
}
.cid-qGaZFWJdNm .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-qGbjDmDdCE {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-qGbjDmDdCE .row {
  justify-content: flex-end;
  align-items: stretch;
}
.cid-qGbjDmDdCE .content-panel {
  padding: 3rem;
  background-color: #444444;
}
.cid-qGbjDmDdCE .text-block {
  padding-right: 0;
}
.cid-qGbjDmDdCE .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-qGbjDmDdCE .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-qGbjDmDdCE .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-qGbjDmDdCE .google-map .place-card {
  margin-left: 40px !important;
}
.cid-qGbjKqOnlt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qGbjKqOnlt *:focus {
  outline: none;
}
.cid-qGbjKqOnlt .input-wrap {
  padding-bottom: 1rem;
}
.cid-qGbjKqOnlt input,
.cid-qGbjKqOnlt textarea {
  width: 100%;
  background: #efefef;
  border-radius: 0;
  border: none;
}
.cid-qGbjKqOnlt input {
  padding: .5rem;
}
.cid-qGbjKqOnlt ::-webkit-input-placeholder {
  color: #000000;
}
.cid-qGbjKqOnlt ::-moz-placeholder {
  color: #000000;
}
.cid-qGbjKqOnlt :-ms-input-placeholder {
  color: #000000;
}
.cid-qGbjKqOnlt :-moz-placeholder {
  color: #000000;
}
.cid-qGbjKqOnlt .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #69b9d0;
  border-radius: 50%;
}
.cid-qGbjKqOnlt .soc-item:hover {
  opacity: .5;
}
.cid-qGbjKqOnlt .soc-item .socicon {
  font-size: 1.5rem;
  color: #69b9d0;
}
.cid-qGbjKqOnlt .days-column,
.cid-qGbjKqOnlt .hours-column {
  display: inline-block;
}
.cid-qGbjKqOnlt .days-column span,
.cid-qGbjKqOnlt .hours-column span {
  display: block;
}
.cid-qGbjKqOnlt .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-qGbjKqOnlt .days-column {
    padding-right: 0 !important;
  }
  .cid-qGbjKqOnlt .hours-column {
    max-width: 50% !important;
  }
  .cid-qGbjKqOnlt .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-qGbmjrp7EM {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qGbmjrp7EM .icons-block .mbr-iconfont {
  font-size: 1.5rem;
  color: #000000;
  opacity: .5;
}
.cid-qGbmjrp7EM .icons-block .mbr-iconfont:hover {
  opacity: 1;
}
.cid-qGbmjrp7EM .links-block ul li {
  margin: 0 1rem;
}
.cid-qGbmjrp7EM .icons-block ul li {
  margin: 0 .5rem;
}
.cid-qGbmjrp7EM .links-block ul,
.cid-qGbmjrp7EM .icons-block ul {
  margin-bottom: 1.5rem;
}
